*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

body {
    margin: 0;
    padding: 0;
}

.logo{
    width: 7%;
    height: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-left: 37px;
}

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #FF8D41;
    --main-text-color: #616161;
    --main-light-text-color: #9E9E9E;
}

span{
    color: var(--secondary-color);
}

header {
    background-image: url('../asset/images/hotel-bg.jpg');
    color: var(--primary-color);
    max-height: 850px;
    max-width: 1550px;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar, .log-out{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: var(--primary-color);
}

.navbar{
    margin: 0;
    padding: 0;
    list-style-type:none;
    display: flex;
    gap: 24px;
    max-width: 397px;
    max-height: 25px;
}

.log-out{
    cursor: pointer;
    max-width: 57px;
    max-height: 22px;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 0px 50px;
    max-width: 1390px;
    max-height: 29px;
}

.entry-text{
    box-sizing: border-box;
    max-width: 604px;
    max-height: 407px;
    margin-top: 284px;
    margin-left: 80px;
}

.wlc, h1, .home-text{
    width: 604px;
    font-style: normal;
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}

.wlc{
    height: 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

h1{
    height: 192px;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
}

.home-text{
    height: 66px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.head1-btn, .head2-btn, .history-btn{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    transition: 0.9s;
}
.history-btn:hover{
    background-color: black;
    color: white;
    border: black 2px solid;
}
.head2-btn:hover{
    background-color: white;
    color: var(--secondary-color);
    border:2px solid white;
}

.head1-btn, .head2-btn{
    margin: 30px 20px 0px 0px;
}

.head1-btn:hover{
    background-color: var(--primary-color);
    color:  var(--secondary-color);
    border: 2px solid var(--primary-color);
}
.head1-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    max-width: 119px;
    max-height: 44px;
    transition: 0.69s;
}

.head2-btn{
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    max-width: 141px;
    max-height: 44px;
}

.history-btn{
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--secondary-color);
}

.about, .rooms, .services{
    display: flex;
    justify-content: center;
}

.about h4, .rooms h4, .services h4, .testimonial h4{
    display: inline-flex;
    align-items: center;
    color: var(--main-text-color);
    font-size: 22px;
    gap: 12px;
}

.about h4{
    margin-bottom: 100px;
}

.rooms h4, .services h4{
    margin: 100px 0 24px 0;
}

.testimonial h4{
    margin-top: 100px;
    margin-bottom: 24px;
}

.about h4::after, .about h4::before, 
.rooms h4::after, .rooms h4::before, 
.services h4::after, .services h4::before, 
.testimonial h4::after, .testimonial h4::before{
    content: "";
    width: 30px;
    height: 2.5px;
    background-color: var(--main-light-text-color);
    border-radius: 12px;
}

.history{
    display: flex;
    gap: 117px;
    padding-bottom: 100px;
}

.history-img{
    width: 100%;
    max-width: 524px;
    height: auto;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--main-text-color) 1px solid;
}

.history-img img{
    padding: 14px;
}

.history-text{
    color: var(--main-text-color);
}

.history-text h2{
    font-size: 44px;
}

.history-text p{
    font-size: 18px;
}

.light-text{
    color: var(--main-light-text-color)
}

.about-us{
    padding: 100px 129px;
    max-width: 1550px;
    max-height: 1142px;
}

.sku-bar{
    max-width: 1550px;
    height: 119px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-color);
    margin: 0 auto;
}

.sku-bar div h3, .sku-bar div p{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sku-bar div h3{
    font-size: 50px;
}

.sku-bar div p{
    font-size: 15px;
}

.explore, .people-say{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.explore h2, .people-say h2{
    font-size: 44px;
    color: var(--main-text-color);
}

.hotel-cards{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.hotel-cards div{
    width: 380px;
    background-color: #dbd6d6b3;
    height: 348px;
    border: var(--main-light-text-color) 1px solid;
}

.hotel-cards div h4, .hotel-cards div p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    padding: 13px 0 0 0;
    margin: 0;
}

.hotel-cards div h4{
    font-size: 20px;
}

.hotel-cards div p{
    font-size: 16px;
}

.service-cards{
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.service-cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px 0 32px;
    width: 350px;
    height: 258px;
    border: var(--main-light-text-color) 1px solid;
}

svg{
    width: 10%;
    height: auto;
}

.service-cards div h4{
    margin-top: 32px;
    color: var(--main-text-color);
    font-size: 28px;
}

.service-cards div p{
    margin-top: 16px;
    color: var(--main-light-text-color);
    font-size: 18px;
}

.service-cards div:hover{
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.1);
    scale: 1.05;
    background-color: var(--secondary-color);
    transition: 0.5s;
    .h4-of-card,.p-of-card{
        color: var(--primary-color);
    }
    svg path{
        fill: var(--primary-color);
    }
}

.testimonials div{
    display: flex;
    justify-content: center;
}

.say-cards{
    max-width: 1236px;
    max-height: 218px;
    margin: auto;
}

.say-cards div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 298px;
    height: 218px;
    text-align: center;
}

.say-cards div svg{
    width: 15%;
    height: auto;
    flex: none;
    margin-bottom: 18px;
}

.say-cards div p{
    width: 250px;
    height: 66px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-light-text-color);
    padding: 0;
    margin-bottom: 24px;
}

.say-cards div h4{
    padding: 0;
    margin: 0;
    width: 114px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.space{
    height: 100px;
}

.first-foot{
    width: 220px;
    height: 129px;
    max-height: 174px;
}

.foot ul{
    list-style-type: none;
    padding: 0;
}

.foot ul li{
    margin-top: 16px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer p, footer li a{
    color: var(--main-light-text-color);
}

footer h3{
    color: var(--main-text-color);
}
